{% extends 'base.html' %}
{% load static %}

{% block subtitle %}{{ user.get_full_name }}{% endblock subtitle %}

{% block scripts %}
  <script src="{% static 'js/idea_vote.js' %}" type="text/javascript"></script>
{% endblock scripts %}

{% block content %}
  <h2 class="page-header margin-top-none">
    {% if user == request.user %}
      My Ideas
    {% else %}
      {{ user.get_full_name }}'s Ideas
    {% endif %}
  </h2>
  {% include 'home/fragments/idea_listing.html' with userpage=True ideas=user_ideas%}
{% endblock content %}
