<div class="category-graph" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>

{# Taken from http://www.highcharts.com/demo/pie-basic #}
<script type="text/javascript">
    $(function () {
        $('.category-graph').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Startup Business Category Distribution'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Startup Business Category Distribution',
                data: {{ graph_data|safe }}['graph_data']
            }]
        });
    });
</script>